.php-cs-fixer.cache
.phpunit.result.cache
.DS_Store
src/.DS_Store
src/Validator/.DS_Store
/.idea
/var
/build
/vendor
composer.lock
.env
/bin/.idea
/bin/__pycache__
/bin/utility/__pycache__
/tests/Resources/var/*